.contenedor-testimonio{
    width: 90%;
    max-width: 1000px;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border: 5px solid #000;
    background-color: #fff;
}
.imagen-testimonio{
    width: 180px;
    height: 190px;
    margin-left: 10px;
    object-fit: cover;
    border: 2px solid #000;
}
.contenedor-texto-testimonio{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.texto-testimonio{
    width: 95%;
    margin-top: 10px;
    text-align: center;
}

@media only screen and (max-width:900px){
    .contenedor-testimonio{
        flex-direction: column;
        align-items: center;
    }
    .contenedor-texto-testimonio{
        width: 95%;
        justify-content: center;
        text-align: center;
    }
}